body {
    margin: 0;
}

nav {
    top: -8px;
}

.d1 {
    background-color: #926FF6;
}

.header-t1 {
    color: #FFE074 !important;
}

.i1 {
    width: 100%;
    height: 80%;
}

.p1{
    color:#FFAE00;
    
}
.p2{
    padding-right: 150px;
}
.img1{
}
.h2{
    padding-right: 90px;
  position: ;
}